*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.background1{
    background-color: black !important;
    transition: all ease 0.3s;
}

.background2{
    background-color: rgb(128, 188, 199) !important;
    transition: all ease 0.3s;
}
.background3{
    background-color: rgb(95, 95, 95) !important;
    transition: all ease 0.3s;
}

.game-container{
    
    background-color: rgb(80, 0, 80);
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    height: 100vh;
}

#game{
    background-color: rgb(253, 231, 233);
    border-radius: 14px;
    border: 2px solid red;
    margin-top: 20px;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.btns > *{
    padding: 10px 25px;
    background-color: yellow;
    border-color: red;
    border-radius: 12px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom:  10px;
    font-weight: bold;
}

.btns > *:hover{
    transition: all 0.2s;
    background-color: rgb(255, 186, 186);
}

.data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.data > * {    
    text-align: start; /* Alinear el contenido del div al centro */
    padding-top: 10px;
    color: white;    
    padding: 5px 10px;
    max-width: 460px;
    width: 100%;
    margin: auto 0;
    padding-top: 4px;
}

.data1 {
    margin-left: 100px;
}

.data0 p {
    margin: 5px 0;
}

.gameOver{
    transition: all 0.3s;
    width: 100%;
    position:absolute;
    top: 35%;
    background-color: rgb(138, 8, 8);
    height: 100px;
    font-size:  2.5rem;
    color: white;
    border: 5px solid rgba(0, 0, 0, 0.096);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.win{    
    transition: all 0.3s;
    width: 100%;
    position:absolute;
    top: 35%;
    background-color: rgb(255, 255, 255);
    height: 100px;
    font-size:  2.5rem;
    color: black;
    border: 3px solid rgb(139, 225, 240);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tryAgain{    
    transition: all 0.3s;
    width: 100%;
    position:absolute;
    top: 35%;
    background-color: rgba(255, 255, 255, 0.938);
    height: 100px;
    font-size:  2.5rem;
    color: black;
    border: 3px solid rgb(39, 39, 39);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 440px) {
    button {margin-top:20px;}
    #up, #down {margin-left: 100%; margin-right: 100%}    
}
