*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.game-container{
    background-color: rgb(80, 0, 80);
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

#game{
    background-color: rgb(253, 231, 233);
    border-radius: 14px;
    border: 2px solid red;
    margin-top: 20px;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.btns > *{
    padding: 10px 25px;
    background-color: yellow;
    border-color: red;
    border-radius: 12px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom:  10px;
    font-weight: bold;
}

.messages{
    color: white;    
    padding: 5px 10px;
    max-width: 460px;
    width: 100%;
    text-align: left;
}


@media (max-width: 440px) {
    button {margin-top:20px;}
    #up, #down {margin-left: 100%; margin-right: 100%}    
}
